.App {
  background-color: #552f6d;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.Editor {
  background-color: white;
  width: 80%;
  margin: auto;
  height: 80%;
  padding: 10px;
}

